.topnav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #393434;
    padding: 1%;
}

.topnav a{
    color: #fff9f9;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

.topnav input[type=text]{
    padding: 0.2%;
    width: 30%;
    border: none;
    margin-left: 10%;
    font-size: 17px;
    background-color: #a79f9f;
}

.topnav select{
    padding: 0.06%;
    position: relative;
    width: 10%;
    color: #fff9f9; 
    font-size: 17px;
    background-color: #a79f9f;
}

.topnav button{
    position: relative;
    padding: 0.2%;
    width: 5%;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.sidebar{
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 7%;
    width: 17%;
    left: 0;
    background-color: #201C1C;
}

.sidebar li{
    margin-left: 10%;
}

.sidebar a {
  padding: 7%;
  text-decoration: none;
  font-size: 17px;
  font-family: Roboto, sans-serif;
  color: #fff9f9;
  display: block;
}


