.logo:hover {
    cursor: pointer;
}


#layout_avatar {
    max-width: 100%;
    max-height: 100%;
    height: 30px;
    width: 30px;
    border-radius:50%;
}

#dropdown_avatar {
    max-width: 100%;
    max-height: 100%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#Layout_otherbtn a {
    color: white;
}

#phone-search-btn{
    display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html, body {
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.fullscreen
{
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow:hidden;
}
.fill {
    background: lightgray;
    position: absolute;
    width: 100%;
    height: 100%; 
}

.logo {
    width: 165px;
    height: auto;
    float: left;
    padding-left: 10px;
}

.btn{
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #4e5e69;
}

.btn:hover i{
    color:white;
}

.btn:hover span{
    color:white;
}

@media only screen and (max-width: 600px) {
    .btn-group span{
        display:none;
    }
    
    .form-inline{
        display:none;
    }
    
    #phone-search-btn{
        display: inline;
    }
}


