#phone-search-btn{
    display: none;
}

.fill {
    background: lightgray;
    position: absolute;
    width: 100%;
    height: 100%; 
}

.logo {
    width: 165px;
    height: auto;
    float: left;
    padding-left: 10px;
}

.btn{
    color: dark;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #4e5e69;
    color: white;
}

@media only screen and (max-width: 600px) {
    .btn-group span{
        display:none;
    }
    
    .form-inline{
        display:none;
    }
    
    #phone-search-btn{
        display: inline;
    }
}


