img {
    max-width: 100%;
    max-height: 100%;
}

.avatar{
    height: 200px;
    width: 200px;
}

#profile_Change_PW_col.col-2:hover {
    background-color: lightskyblue;
    cursor: pointer;

}

.that_result:hover {
    background-color: lightskyblue;
}